<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<table>
  <thead>
    <tr>
      <th>Long url</th>
      <th>Clicks</th>
      <th>Shorten url</th>      
      <th>User info</th>
    </tr>
  </thead>

  <tbody>
    <% @ulinks.each do |ulink| %>
      <tr>
        <td><%= ulink.link.long_url %></td>
        <td><%= ulink.link.clicks %></td>
        <td><%= link_to ulink.url, ulink.url %></td>
        <td>
          <% if ulink.user %>
            <%= ulink.user.id %> , <%=ulink.user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

