<p id="notice"><%= notice %></p>

<p>
  <strong>Short url:</strong>
  <%= link_to @surl, @surl, target: '_blank' %>
</p>

<p>
  <strong>Long url:</strong>
  <%= link_to @link.long_url, @link.long_url %>
</p>

<p>
  <strong>Clicks:</strong>
  <%= @link.clicks %>
</p>

<%= link_to 'Back', links_path %>
